body {
  font-family: 'Lato';
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Condensed';
  font-weight: 800 !important;
}

.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.bg-black {
  background-color: #000 !important;
}

.rounded-pill {
  border-radius: 5rem;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/RobotoCondensed-Regular.ttf");
}

.banner-boxes {
  display: grid;
  align-self: center;
}

.images-banner {
  float: right;
}

/***** Banner Boxes *****/
img.img-1-1 {
  width: 200px;
  float: right;
}

.img-1-2 {
  padding: 0;
}

.text-square {
  width: 200px;
  height: 134px;
}

.text-square h3 {
  font-size: 32px;
}

.ts-2-1 {
  background-color: #EB9900;
  opacity: 0.5;
}

.ts-3-1 {
  background-color: #1496DF;
  opacity: 0.5;
}

.ts-2-2 {
  background-color: #FF0202;
  opacity: 0.5;
}

.ts-4-1 {
  background-color: #E57828;
  opacity: 0.5;
}

.ts-4-2 {
  background-color: transparent;
}

.boxs-text {
  display: flex;
  max-width: unset;
}

.banner-box-etsy {
  padding: 2.5rem 1rem 0;
  height: 100%;
  font-size: 40px;
  color: #FFF;
}

.logo-image {
  width: 68px;
  align-self: center;
}

.container {
  background-color: #F3F3F3;
  max-width: none;
}

.top-container {
  margin-top: 200px;
}

#scissor {
  width: 70px;
  height: 50px;
  transform: rotate(90deg);
  position: fixed;
  margin-top: 50px;
}

.text-container {
  margin: 0 auto;
}

.img-fluid {
  margin: 0 auto;
  display: flex;
}

.text-1 {
  background-color: #EB9900;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.text-2 {
  display: flex;
  justify-content: center;
  background-color: #1496DF;
}

.text-3 {
  background-color: #001833;
  padding: 1%;
}

.p-text {
  color: #fff;
  font-size: 15px;
  text-align: center;
}

.footer-left {
  background-color: #091833;
}

.footer-left .form-button {
  background-color: #E57828;
  color: #FFFFFF;
  border-radius: unset;
}

.footer-right {
  background-color: #582137;
}

.footer-right .footer-social-links .nav-link {
  font-size: 2.8rem;
  color: rgba(255, 255, 255, 0.5);
}

.form-control {
  border-radius: unset;
}

/*.vl {
    border-left: 3px dashed black;
    height: 280vh;
    position: absolute;
}
  
@media only screen and (min-height: 768px) {
  .vl {
    margin-top: 100px;
    height: 205vh; 
  }
}*/
@media only screen and (min-width: 768px) {
  .logo-image {
    width: 180px;
    margin-top: 20px;
  }
}

@media only screen and (min-width: 960px) {
  .p-text {
    font-size: 34px;
  }
  .logo-image {
    width: 210px;
  }
}

.box {
  width: 224px;
  height: 150px;
}

@media only screen and (min-width: 460px) {
  .box {
    width: 400px;
    height: 270px;
  }
}

@media only screen and (min-width: 460px) {
  .box {
    width: 400px;
    height: 270px;
  }
}

@media only screen and (min-width: 700px) {
  .box {
    width: 832px;
    height: 555px;
  }
}

@media only screen and (min-width: 992px) {
  .box {
    width: 500px;
    height: 335px;
  }
}

.navbar-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
}

.navbar-custom .navbar-brand {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.navbar-custom .navbar-brand #logo {
  width: 100px;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.navbar-custom .navbar-nav .nav-item .nav-link i {
  font-size: 1.8rem;
}

header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(4rem + 72px);
  padding-bottom: 7rem;
}

header.masthead .masthead-content {
  z-index: 1;
  position: relative;
}

header.masthead .masthead-content .masthead-heading {
  font-size: 3rem;
  text-align: left;
}

header.masthead .masthead-content .masthead-subheading {
  font-size: 2rem;
}

header.masthead .fullscreen-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

header.masthead .fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16 / 9) {
  header.masthead .fullscreen-bg__video {
    height: 300%;
    top: -105%;
  }
}

@media (max-aspect-ratio: 16 / 9) {
  header.masthead .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  header.masthead .fullscreen-bg {
    background: url("../img/fondo.jpg") center center/cover no-repeat;
  }
  header.masthead section.scissor-section, header.masthead .fullscreen-bg__video, header.masthead .banner-boxes {
    display: none !important;
  }
  header.masthead section:nth-child(1) {
    display: none;
  }
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(4rem + 55px);
    padding-bottom: 0rem;
  }
  header.masthead .masthead-content .masthead-heading {
    font-size: 6rem;
  }
  header.masthead .masthead-content .masthead-subheading {
    font-size: 4rem;
  }
}

.bg-primary {
  background-color: #ee0979 !important;
}

.btn-primary {
  background-color: #ee0979;
  border-color: #ee0979;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #bd0760 !important;
  border-color: #bd0760 !important;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(238, 9, 121, 0.5);
}

.btn-secondary {
  background-color: #ff6a00;
  border-color: #ff6a00;
}

.btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
  background-color: #cc5500 !important;
  border-color: #cc5500 !important;
}

.btn-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 106, 0, 0.5);
}

.rounded-circle {
  width: 300px;
  height: 300px;
  background-color: #E57828;
}

.rounded-circle .nav-link.e-link {
  font-size: 4.8em;
  margin: auto;
  color: #FFFFFF;
}

.row {
  margin: 0;
}
