body {
  font-family: 'Lato';
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Condensed';
  font-weight: 800 !important;
}

.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.bg-black {
  background-color: #000 !important;
}

.rounded-pill {
  border-radius: 5rem;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/RobotoCondensed-Regular.ttf");
}

.banner-boxes {
  display: grid;
}

.images-banner {
  float: right;
}

.images-banner div {
  padding: 0;
}

img.img-1-1 {
  width: 200px;
  float: right;
}

.img-1-2 {
  padding: 0;
}

.text-square {
  width: 200px;
  height: 134px;
}

.text-square h3 {
  padding-top: 16%;
  font-size: 32px;
}

.ts-2-1 {
  background-color: #EB9900;
  opacity: 0.5;
}

.ts-3-1 {
  background-color: #1496DF;
  opacity: 0.5;
}

.ts-2-2 {
  background-color: #FF0202;
  opacity: 0.5;
}

.ts-4-1 {
  background-color: #E57828;
  opacity: 0.5;
}

.ts-4-2 {
  background-color: transparent;
}

.boxs-text {
  display: flex;
  max-width: 46.8%;
}

.boxes-with-spaces {
  max-width: 69%;
}

.banner-box-etsy {
  height: 100%;
  font-size: 40px;
  color: #FFF;
}

.logo-image {
  width: 250px;
}

.container {
  background-color: #F3F3F3;
  max-width: none;
  padding: 40px 0;
}

.top-container {
  margin-top: 200px;
}

#scissor {
  width: 70px;
  height: 50px;
  transform: rotate(90deg);
  position: fixed;
  margin-top: 50px;
}

.text-container {
  height: 533px;
  padding: 0;
  max-width: 40%;
  margin: 0 auto;
}

.img-fluid {
  height: 533px;
  max-width: 82%;
  padding: 0;
  margin: 0 auto;
  display: flex;
}

.text-1 {
  background-color: #EB9900;
  padding-top: 5%;
}

.text-2 {
  background-color: #1496DF;
  padding-top: 10%;
}

.text-3 {
  background-color: #001833;
  padding-top: 9%;
}

.p-text {
  color: #fff;
  font-size: 34px;
  text-align: center;
}

.footer-left {
  background-color: #091833;
  min-height: 400px;
}

.footer-left div {
  width: 100%;
}

.footer-left .form-button {
  background-color: #E57828;
  color: #FFFFFF;
  border-radius: unset;
}

.footer-right {
  background-color: #582137;
  min-height: 400px;
}

.footer-right div {
  width: 100%;
}

.footer-right .footer-social-links .nav-link {
  font-size: 3.8rem;
  color: rgba(255, 255, 255, 0.5);
}

.footer-right .footer-social-links .nav-link:hover {
  color: rgba(255, 255, 255, 0.9);
}

.form-control {
  border-radius: unset;
}

.vl {
  border-left: 3px dashed #868e96;
  height: 100px;
  position: absolute;
  margin-top: 6rem;
}

@media only screen and (min-height: 768px) {
  .vl {
    margin-top: 100px;
    height: 205vh;
  }
}

#buyon {
  position: relative;
}

#buyon > i {
  font-size: 4em;
  color: white;
}

#buyon:hover {
  background-color: rgba(245, 99, 1, 0.8);
}

html,
body {
  width: 100%;
  height: 100%;
}

.scissors {
  position: absolute;
  top: calc(50% - 59px);
  left: calc(50% - 52px);
}

.part {
  position: absolute;
}

.part:first-child {
  -webkit-transform: rotateZ(30deg);
  transform: rotateZ(30deg);
  -webkit-animation: move-cut-top 0.6s linear infinite;
  animation: move-cut-top 0.6s linear infinite;
  z-index: 9;
}

.part:last-child {
  top: 115px;
  -webkit-transform: rotateX(180deg) rotateZ(30deg);
  transform: rotateX(180deg) rotateZ(30deg);
  -webkit-animation: move-cut-bottom 0.6s linear infinite;
  animation: move-cut-bottom 0.6s linear infinite;
  z-index: 999;
}

.hilt {
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  border: 10px solid #000;
  border-radius: 100%;
}

.blade {
  position: absolute;
  top: 30px;
  left: 20px;
  width: 80px;
  height: 10px;
  background: #000;
  -webkit-transform: skewX(150deg);
  transform: skewX(150deg);
}

.wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.page {
  position: relative;
  float: left;
  top: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.page:first-child {
  left: 0;
  background: tranparent;
}

.page:last-child {
  top: 0;
  left: 0;
  background: #ff0;
  z-index: 99;
}

.clipping {
  position: absolute;
  width: calc(120% + 20px);
  height: 50%;
  left: -20%;
  background: #ff0;
}

.clipping:first-child {
  top: 0;
  border-radius: 0 0 0 100%;
  -webkit-animation: move-clipping 0.6s linear infinite;
  animation: move-clipping 0.6s linear infinite;
}

.clipping:last-child {
  bottom: -1px;
  border-radius: 100% 0 0 0;
  z-index: 999;
  -webkit-animation: move-clipping 0.6s 0.5s infinite;
  animation: move-clipping 0.6s 0.5s infinite;
}

.line {
  position: absolute;
  width: 1500px;
  border-top: 3px dotted #000;
  -webkit-animation: move-line 15s linear infinite;
  animation: move-line 15s linear infinite;
  position: absolute;
  top: 50%;
  margin-top: -1.5px;
}

@-webkit-keyframes move-cut-top {
  50% {
    -webkit-transform: rotateZ(5deg) translateY(15px);
    transform: rotateZ(5deg) translateY(15px);
  }
  100% {
    -webkit-transform: rotateZ(30deg) translateY(0px);
    transform: rotateZ(30deg) translateY(0px);
  }
}

@keyframes move-cut-top {
  50% {
    -webkit-transform: rotateZ(5deg) translateY(15px);
    transform: rotateZ(5deg) translateY(15px);
  }
  100% {
    -webkit-transform: rotateZ(30deg) translateY(0px);
    transform: rotateZ(30deg) translateY(0px);
  }
}

@-webkit-keyframes move-cut-bottom {
  50% {
    -webkit-transform: rotateX(180deg) rotateZ(5deg) translateY(20px);
    transform: rotateX(180deg) rotateZ(5deg) translateY(20px);
  }
  100% {
    -webkit-transform: rotateX(180deg) rotateZ(30deg) translateY(0);
    transform: rotateX(180deg) rotateZ(30deg) translateY(0);
  }
}

@keyframes move-cut-bottom {
  50% {
    -webkit-transform: rotateX(180deg) rotateZ(5deg) translateY(20px);
    transform: rotateX(180deg) rotateZ(5deg) translateY(20px);
  }
  100% {
    -webkit-transform: rotateX(180deg) rotateZ(30deg) translateY(0);
    transform: rotateX(180deg) rotateZ(30deg) translateY(0);
  }
}

@-webkit-keyframes move-clipping {
  50% {
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes move-clipping {
  50% {
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes move-line {
  100% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

@keyframes move-line {
  100% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

.navbar-custom {
  padding-top: 0rem;
  padding-bottom: 0rem;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.7);
}

.navbar-custom .navbar-brand {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.navbar-custom .navbar-brand #logo {
  width: 100px;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.navbar-custom .navbar-nav .nav-item .nav-link i {
  font-size: 1.8rem;
}

header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: 100px;
  background: url("../img/fondo.jpg") center center/cover no-repeat;
}

header.masthead .no-padding {
  padding: 0;
}

header.masthead #title-parent {
  min-height: 600px;
}

header.masthead .small-square {
  height: 170px;
}

header.masthead #delantal-doblado {
  background: url("../img/Creador04.jpg") center center/cover no-repeat;
}

header.masthead #fondo-amarillo {
  background: rgba(255, 153, 0, 0.4);
}

header.masthead #fondo-amarillo h2 {
  opacity: 0.87;
}

header.masthead #fondo-rojo {
  background: rgba(88, 33, 55, 0.4);
}

header.masthead #fondo-azul {
  background: rgba(0, 24, 51, 0.4);
}

header.masthead #delantal-puesto {
  background: url("../img/mochilero.jpg") center center/cover no-repeat;
}

header.masthead #fondo-naranja {
  background: #f56301;
}

header.masthead #knife-holder {
  background: url("../img/estuche.jpg") center center/cover no-repeat;
}

header.masthead #etsy-button {
  font-size: 40px;
  color: rgba(255, 255, 255, 0.6);
}

header.masthead #etsy-button:hover {
  font-size: 40px;
  color: rgba(255, 255, 255, 0.9);
}

header.masthead .masthead-content {
  z-index: 1;
  position: relative;
}

header.masthead .masthead-content .masthead-heading {
  font-size: 4rem;
  text-align: left;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.87;
}

header.masthead .masthead-content .masthead-subheading {
  font-size: 2rem;
}

header.masthead .fullscreen-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

header.masthead .fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16 / 9) {
  header.masthead .fullscreen-bg__video {
    height: 300%;
    top: -105%;
  }
}

@media (max-aspect-ratio: 16 / 9) {
  header.masthead .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  header.masthead .fullscreen-bg {
    background: url("../img/fondo.jpg") center center/cover no-repeat;
  }
  header.masthead .fullscreen-bg__video {
    display: none;
  }
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: 100px;
    padding-bottom: 0rem;
  }
  header.masthead .masthead-content .masthead-heading {
    font-size: 6rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  header.masthead .masthead-content .masthead-subheading {
    font-size: 4rem;
  }
}

.centered {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.centered-horizontally-vertically {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg-primary {
  background-color: #ee0979 !important;
}

.btn-primary {
  background-color: #ee0979;
  border-color: #ee0979;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #bd0760 !important;
  border-color: #bd0760 !important;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(238, 9, 121, 0.5);
}

.btn-secondary {
  background-color: #ff6a00;
  border-color: #ff6a00;
}

.btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
  background-color: #cc5500 !important;
  border-color: #cc5500 !important;
}

.btn-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 106, 0, 0.5);
}

.rounded-circle {
  width: 300px;
  height: 300px;
  background-color: #E57828;
}

.rounded-circle .nav-link.e-link {
  font-size: 4.8em;
  margin: auto;
  color: #FFFFFF;
}

.container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#description-section {
  background-color: #f8f9fa;
}

#caja-amarilla {
  background-color: #ff9900;
}

#caja-foto-1 {
  background: url("../img/01.jpg") center center/cover no-repeat;
}

#caja-foto-2 {
  background: url("../img/02.jpg") center center/cover no-repeat;
}

#caja-foto-3 {
  background: url("../img/03.jpg") center center/cover no-repeat;
}

#caja-azul-claro {
  background-color: #1496df;
}

#caja-azul {
  background-color: #001833;
}

.content-box {
  width: 100%;
  height: 400px;
}

h1, h2 {
  font-family: 'Roboto Condensed';
  color: #fff;
}

#visitus {
  position: absolute;
  padding-top: 60px;
}

#description-section {
  margin-top: 6rem;
  padding-top: 6rem;
}

#line-container {
  display: none;
}

@media only screen and (min-width: 768px) {
  .left-box {
    padding-right: 3%;
    margin-bottom: 6rem;
  }
  .right-box {
    padding-left: 3%;
    margin-bottom: 6rem;
  }
  #line-container {
    display: block;
  }
}

#line-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#vertical-line {
  stroke: #868e96;
  stroke-width: 2;
}
