#description-section {
	background-color: $gray-100;	
}

#caja-amarilla {
	background-color: $amarillo;
}

#caja-foto-1 {
	background: url('../img/01.jpg') center center / cover no-repeat;
}

#caja-foto-2 {
	background: url('../img/02.jpg') center center / cover no-repeat;
}

#caja-foto-3 {
	background: url('../img/03.jpg') center center / cover no-repeat;
}

#caja-azul-claro {
	background-color: $azul-claro;
}

#caja-azul {
	background-color: $azul;

}

.content-box {
	width:100%;
	height: 400px;
}

h1, h2 {
	font-family: 'Roboto Condensed';
	color: #fff;
	opacity: 0.87;
}

.content h1 {
	font-size: 2rem;
	opacity: .87;
	line-height: 1.62;
}

#visitus {
	position:absolute;
	padding-top: 60px;
}


#description-section{
	//margin-top: 6rem;
	padding-top:6rem;
}

#line-container{
		display: none;
	}

#scissors {
	display:none;
}

@media only screen and (min-width: 768px) {

	.left-box {
		padding-right: 3%;
		margin-bottom: 6rem;
	}

	.right-box {
		padding-left: 3%;
		margin-bottom: 6rem;
	}

	#line-container{
		display: block;
	}
	#scissors {
		display:block;
	}
}

#line-container{
	position: absolute;
	left:50%;
	transform: translateX(-50%);
}

#vertical-line {
	stroke: $gray-600;
    stroke-width: 3px;
}