body {
  @include body-font;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
}

.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.bg-black {
  background-color: $black !important;
}

.rounded-pill {
  border-radius: 5rem;
}

@font-face {
    font-family: "Roboto Condensed";
    src: url("../fonts/RobotoCondensed-Regular.ttf");
}
.banner-boxes{
  display: grid;
  align-self: center;
}
.images-banner{
  float: right;
}

/***** Banner Boxes *****/
img.img-1-1{
  width: 200px;
  float: right;
}
.img-1-2 {
  padding: 0;
}
.text-square{
  width: 200px;
  height: 134px;
}
.text-square h3{
  font-size: 32px;
}
.ts-2-1{
  background-color: #EB9900;
  opacity: 0.5;
}
.ts-3-1{
  background-color: #1496DF;
  opacity: 0.5;
}
.ts-2-2{
  background-color: #FF0202;
  opacity: 0.5;
}
.ts-4-1{
  background-color: #E57828;
  opacity: 0.5;
}
.ts-4-2{
  background-color: transparent;
}
.boxs-text{
  display: flex;
  max-width: unset;
}
.banner-box-etsy {
  padding:2.5rem 1rem 0;
  height: 100%;  
  font-size: 40px;
  color: #FFF;
}


.logo-image{
  width: 68px;
  align-self: center;
}

.container{
  background-color: #F3F3F3;
  max-width: none;
}
.top-container{
  margin-top: 200px;
}

#scissor {
  width:70px; 
  height:50px; 
  transform: rotate(90deg); 
  position: fixed;
  margin-top: 50px;
}

.text-container{
  margin: 0 auto;
}
.img-fluid{
  margin: 0 auto;
  display: flex;
}
.text-1{
  background-color: #EB9900;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.text-2{
  display: flex;
  justify-content: center;
  background-color: #1496DF;
  
}
.text-3{
  background-color: #001833;
  padding: 1%;
}
.p-text{
  color: #fff;
  font-size: 15px;
  text-align: center;
}

.footer-left {
  background-color: #091833;
  .form-button {
    background-color: #E57828;
    color: #FFFFFF;
    border-radius: unset; 
  }
}

.footer-right {
  background-color: #582137;  
  .footer-social-links {
    .nav-link {
      font-size: 2.8rem;
      color: rgba(255,255,255,.5);
    }
  }
}

.form-control {
  border-radius: unset;
}

/*.vl {
    border-left: 3px dashed black;
    height: 280vh;
    position: absolute;
}
  
@media only screen and (min-height: 768px) {
  .vl {
    margin-top: 100px;
    height: 205vh; 
  }
}*/

@media only screen and (min-width: 768px) {
  .logo-image{
    width: 180px;
    margin-top: 20px;
  }
}


@media only screen and (min-width: 960px) {
  .p-text {
    font-size: 34px;
  }
  .logo-image{
    width: 210px;
  }
}

.box {
  width: 224px;
  height: 150px;   
}

@media only screen and (min-width: 460px) {
  .box {
    width: 400px;
    height: 270px;   
  }
}

@media only screen and (min-width: 460px) {
  .box {
    width: 400px;
    height: 270px;   
  }
}

@media only screen and (min-width: 700px) {
  .box {
    width: 832px;
    height: 555px;   
  }
}

@media only screen and (min-width: 992px) {
  .box {
    width: 500px;
    height: 335px;   
  }
}
